---
---

<section class="relative w-full bg-white pb-[50px] md:pb-[100px] z-[5]">
  <div class="grid grid-cols-1 md:grid-cols-2 w-full">
    <!-- Left column: content on gold background -->
    <div class="bg-[#e5ca00] py-20 px-5 md:p-[15%_10%]">
      <h4 class="font-heading text-[30px] md:text-[48px] font-semibold leading-[1.4] tracking-[1.7px] text-black text-start mb-4">
        About Real World PDR
      </h4>
      <div class="text-black text-base font-light leading-[2em] text-start space-y-4">
        <p>
          Real World PDR was born from the desire to teach people who want to get into the Paintless Dent Repair industry how to provide the best possible service to their customers.
        </p>
        <p>
          We don't just show you how to repair a dent in a lab. We want you to be confident that the skills you learn with us Real World PDR will translate to real life.
        </p>
        <p>
          PDR is not easy, it will require a lot of practice and patience. But we're with you every step of the way, from what tools you need to buy, all the way through the most advanced dents and creases.
        </p>
      </div>
      <div class="pt-4 pb-0 md:pb-[50px]">
        <a
          href="/real-world-pdr-courses"
          class="inline-block bg-transparent text-black text-sm font-semibold uppercase tracking-[3px] border-b border-black pb-[10px] hover:text-white hover:border-white transition"
        >
          See Courses
        </a>
      </div>
    </div>

    <!-- Right column: decorative background image -->
    <div class="hidden md:block">
      <div
        class="w-full h-full min-h-[286px] md:min-h-[593px] bg-cover bg-center bg-no-repeat"
        style="background-image: url('/api/files/sites/proj_dkm43vn7/1776723863099/assets/mo7rohqxx5u1jj.jpg');"
      >
      </div>
    </div>
  </div>

  <!-- Bottom SVG shape divider -->
  <div class="absolute bottom-0 left-0 w-full overflow-hidden z-[2] pointer-events-none" aria-hidden="true">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1000 100"
      preserveAspectRatio="none"
      class="w-full h-[30px] block"
      style="transform: translateX(-50%) rotateY(180deg); margin-left: 50%;"
    >
      <path fill="#e5ca00" d="M0,6V0h1000v100L0,6z"></path>
    </svg>
  </div>
</section>
