---
---

<section class="bg-secondary transition-all duration-300 py-[30px] px-5">
  <div class="flex flex-col md:flex-row w-full">
    <div class="flex-1 flex items-center justify-center py-5 md:py-0 md:border-r md:border-[#32373c]">
      <h4 class="text-center text-[18px] lg:text-[22px] font-black capitalize tracking-[0.3px] text-text font-[Poppins,sans-serif]">
        Learn PDR Fast
      </h4>
    </div>
    <div class="flex-1 flex items-center justify-center py-5 md:py-0 md:border-r md:border-[#32373c]">
      <h4 class="text-center text-[18px] lg:text-[22px] font-black capitalize tracking-[0.3px] text-text font-[Poppins,sans-serif]">
        Gain Confidence
      </h4>
    </div>
    <div class="flex-1 flex items-center justify-center py-5 md:py-0">
      <h4 class="text-center text-[18px] lg:text-[22px] font-black capitalize tracking-[0.3px] text-text font-[Poppins,sans-serif]">
        Launch Your Career
      </h4>
    </div>
  </div>
</section>
