---
---

<section class="relative bg-cover bg-center bg-no-repeat py-[100px] md:py-[100px] my-[60px] md:my-[120px]" style="background-image: url('/api/files/sites/proj_dkm43vn7/1776723863099/assets/mo7rj9rec30djd.jpg');">
  <!-- Top SVG Shape Divider -->
  <div class="absolute top-0 left-0 w-full overflow-hidden leading-[0] rotate-0" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="w-full h-[70px]">
      <path class="fill-white" d="M500.2,94.7L0,0v100h1000V0L500.2,94.7z"></path>
    </svg>
  </div>

  <!-- Bottom SVG Shape Divider -->
  <div class="absolute bottom-0 left-0 w-full overflow-hidden leading-[0] rotate-180" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="w-full h-[65px]">
      <path class="fill-white" d="M500.2,94.7L0,0v100h1000V0L500.2,94.7z"></path>
    </svg>
  </div>

  <div class="relative z-10 max-w-[1000px] mx-auto px-5 md:px-10 lg:pr-[200px] lg:pl-10 py-10 md:py-20">
    <h2 class="text-start text-text text-[34px] md:text-[53px] font-semibold font-[Poppins,sans-serif] mb-8">
      Learn, Practice, Execute
    </h2>

    <div class="text-text font-[Poppins,sans-serif] font-normal space-y-6 py-10">
      <p>Paintless dent repair has a steep learning curve for most people just starting out. It can feel like you're on the outside of the industry looking in. Real World PDR is your man on the inside making the secrets of how to do PDR accessible to you. So you can have the rewarding career you've always dreamed of.</p>

      <p>At Real World PDR, we know that you want to be free to pursue the PDR career of your dreams. Or maybe you just want to be your own boss and set your own schedule. To do that, you need someone on the inside, who can teach you PDR faster than you could learn it on your own. The problem is Paintless Dent Repair has a steep learning curve, which makes you feel confused and afraid you'll be taken advantage of by courses that don't actually work. We believe It shouldn't have to be this way and there should be a trusted resource where you can learn PDR. We understand what it feels like trying to learn PDR but feeling stuck on the outside looking in, which is why Real World PDR was created, to be your man on the inside.</p>

      <p>
        Here's how we do it: <br />
        Our online courses help you learn PDR, from the foundations to advanced techniques.<br />
        You'll be able to practice each technique until you've mastered it. <br />
        Our courses will help you execute what you've learned with real customers.
      </p>

      <p>So, sign up now for instant access. And in the meantime, download our free guide, The Tools You Need To Launch Your PDR Career. So you can stop struggling to learn on your own and instead quickly develop the skills you need to start your own rewarding PDR career.</p>
    </div>

    <a
      href="https://realworldpdr.thinkific.com/cart/add_product/446304?price_id=467664"
      class="inline-block bg-[#32373c] hover:bg-[#F98608] text-white px-6 py-3 rounded-[3px] text-base font-semibold uppercase tracking-[0.7px] font-[Montserrat,sans-serif] transition-colors"
    >
      SUBSCRIBE TO PDR ULTIMATE
    </a>
  </div>
</section>
