---
---

<section
  class="relative min-h-screen flex items-center bg-cover bg-center bg-fixed -mt-[97px] pt-[97px]"
  style="background-image: url('/api/files/sites/proj_dkm43vn7/1776723863099/assets/mo7ro2kq6wpp5s.jpg');"
>
  <!-- Dark overlay -->
  <div class="absolute inset-0 bg-black/30"></div>

  <div class="relative z-10 max-w-container mx-auto px-4 w-full">
    <div class="flex flex-col-reverse md:flex-row items-center min-h-screen">
      <!-- Left Column: Content -->
      <div class="w-full md:w-[55%] bg-black/45 p-6 md:p-[5%_10%] mt-10 md:mt-0">
        <h1 class="font-heading text-[45px] md:text-[55px] lg:text-[65px] font-semibold text-white text-center md:text-left" style="text-shadow: 0px 0px 10px rgba(0,0,0,0.3);">
          Real World<br />PDR Ultimate
        </h1>

        <!-- Divider -->
        <div class="py-4 text-center md:text-left">
          <span class="block w-[20%] md:w-[20%] h-0.5 bg-white mx-auto md:mx-0"></span>
        </div>

        <p class="text-white text-[17px] md:text-lg font-normal leading-[1.8] text-center md:text-left px-[4%] md:px-0 tracking-wider">
          This is absolutely everything you could need to gain the knowledge to jumpstart your PDR career. Beginner to "super advanced" near impossible repairs covered here. Get access to every one of our lessons including our newest and best content.
        </p>

        <div class="pt-4 text-center md:text-left">
          <a
            href="https://realworldpdr.thinkific.com/cart/add_product/446304?price_id=467664"
            class="inline-block text-[#e5ca00] text-xl font-semibold uppercase tracking-[3px] border-b border-[#e5ca00] pb-2.5 hover:text-white hover:border-white transition-colors duration-300"
          >
            Buy Course
          </a>
        </div>
      </div>

      <!-- Right Column: Video -->
      <div class="w-full md:w-[45%] bg-black/25 md:pl-2.5 mt-40 md:mt-0">
        <div class="pt-12 md:pt-0">
          <div class="relative aspect-video">
            <video
              class="w-full h-full object-cover rounded"
              src="/api/files/sites/proj_dkm43vn7/1776723863099/assets/mo7ro1xj0mcepu.mp4"
              poster="/api/files/sites/proj_dkm43vn7/1776723863099/assets/mo7ro15rqzi7aa.png"
              controls
              preload="metadata"
              controlslist="nodownload"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
