---
---

<header class="elementor elementor-629 elementor-location-header">
  <section class="elementor-section elementor-top-section elementor-section-full_width elementor-section-height-min-height elementor-section-items-middle">
    <div class="elementor-container elementor-column-gap-default max-w-[1020px] mx-auto">
      <div class="elementor-column elementor-col-50 w-full md:w-1/2">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-widget elementor-widget-image">
            <div class="elementor-widget-container text-center">
              <a href="https://realworldpdr.com">
                <img 
                  width="500" 
                  height="297" 
                  src="https://realworldpdr.com/wp-content/uploads/2021/07/RWPDR-Logo-All-Black.png" 
                  class="attachment-full size-full wp-image-562 max-w-full h-auto inline-block" 
                  alt="Real World PDR Logo" 
                  sizes="(max-width: 500px) 100vw, 500px"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="elementor-column elementor-col-50 w-full md:w-1/2">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section class="elementor-section elementor-inner-section elementor-section-boxed elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-column elementor-col-50 w-full md:w-1/2">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h5 class="elementor-heading-title elementor-size-default text-base font-heading text-text">
                        <a href="https://realworldpdr.thinkific.com/users/sign_in" class="no-underline text-text hover:text-primary">
                          LOG IN
                        </a>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="elementor-column elementor-col-50 w-full md:w-1/2 hidden md:block">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-widget elementor-widget-button elementor-align-right text-right">
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a 
                          class="elementor-button elementor-button-link elementor-size-sm inline-block bg-primary text-white px-4 py-2 rounded text-sm font-body no-underline hover:opacity-90 transition-opacity" 
                          href="https://realworldpdr.thinkific.com/cart/add_product/446304?price_id=467664"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">SUBSCRIBE TO PDR ULTIMATE</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</header>
