---
---

<section class="relative min-h-screen flex items-center justify-center bg-[#f7fafc]">
  <div class="max-w-xl mx-auto px-6 lg:px-8">
    <div class="flex items-center pt-8 sm:justify-start sm:pt-0">
      <div class="px-4 text-lg text-[#a0aec0] border-r border-[#cbd5e0] tracking-wider font-body">
        404
      </div>
      <div class="ml-4 text-lg text-[#a0aec0] uppercase tracking-wider font-body">
        Not Found
      </div>
    </div>
  </div>
</section>
